$topnav-background-color: #fff;
.sidebar {
    border-radius: 0;
    position: fixed;
    z-index: 2;
    top: 56px;
/*     left: 235px; */
	left: 0px;
    width: 235px;
/*     margin-left: 0px; */
/*     margin-left: -235px; */
    border: none;
    border-radius: 0;
    overflow-y: auto;
    background-color: $topnav-background-color;
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    // border-top: 1px solid rgba(255,255,255,0.3);
	-webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
    .list-group {
        a.list-group-item {
            background: $topnav-background-color;
            border: 0;
            border-radius: 0;
            color: #292B2C;
            text-decoration: none;
            .fa {
                margin-right: 10px;
            }
        }
        .expand {
	        a.list-group-parent {
				background: darken($topnav-background-color, 10%);
            	color: #337ab7;
            }    
        }
        a:hover {
            background: darken($topnav-background-color, 5%);
        }
        a.router-link-active {
            background: darken($topnav-background-color, 10%);
            color: #337ab7;
        }
        .header-fields {
            padding-top: 10px;
        
            > .list-group-item:first-child {
                border-top: 1px solid rgba(0, 0, 0, 0.2);
            }
        }
    }
    .sidebar-dropdown {
        *:focus {
            border-radius: none;
            border: none;
        }
        .panel-title {
            font-size: 1rem;
            height: 50px;
            margin-bottom: 0;
            a {
                color: #999;
                text-decoration: none;
                font-weight: 400;
                background: $topnav-background-color;
                span {
                    position: relative;
                    display: block;
                    padding: 0.75rem 1.5rem;
                    padding-top: 1rem;
                }
            }
            a:hover,
            a:focus {
                color: #fff;
                outline: none;
                outline-offset: -2px;
            }
        }
        .panel-title:hover {
            background: darken($topnav-background-color, 5%);
        }
        .panel-collapse {
            border-radious: 0;
            border: none;
            .panel-body {
                .list-group-item {
                    border-radius: 0;
                    background-color: $topnav-background-color;
                    border: 0 solid transparent;
                    a {
                        color: #999;
                    }
                    a:hover {
                        color: #fff;
                    }
                }
                .list-group-item:hover {
                    background: darken($topnav-background-color, 5%);
                }
            }
        }
    }
}
.nested-menu {
	.list-group-item {
        cursor: pointer;
    }
    a i.menuitem-toggle-icon{
	    float: right;
	    font-size: 16px;
	    margin-top: 2px;
	    margin-right: -3px;
	    -moz-transition: transform 0.3s;
	    -o-transition: transform 0.3s;
	    -webkit-transition: transform 0.3s;
	    transition: transform 0.3s;
    }
    .nested {
        list-style-type: none;
    }
    ul.submenu {
/*     	display: none; */
		-webkit-margin-before: 0;
        -webkit-margin-after: 0;
    	padding-left: 0px;
    	list-style-type: none;
   		li {
        	a {
        		padding: 10px;
        		display: block;
        	}
        	a.list-group-item {
				padding-left: 30px;
			}
		}
   	}
    &.expand {
    	a i.menuitem-toggle-icon {
		    -webkit-transform: rotate(-180deg);
		    -moz-transform: rotate(-180deg);
		    -o-transform: rotate(-180deg);
		    -ms-transform: rotate(-180deg);
		    transform: rotate(-180deg); 
	   	}
    }
}

@media (min-width: 992px) {
    .header-fields {
        display: none;
    }
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px rgba(255, 255, 255, 1);
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 3px rgba(255, 255, 255, 1);
}
