<nav class="sidebar">
    <div class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item" (click)="addExpandClass('dashboard')">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Dashboard' | translate }}
        </a>
         <div class="nested-menu" [class.expand]="showMenu === 'schedule'">
            <a class="list-group-parent list-group-item" (click)="addExpandClass('schedule')">
                <span><i class="fa fa-fw fa-calendar-alt"></i>&nbsp;{{ 'Agenda' | translate }}</span>
                <i class="fa fa-fw fa-angle-down menuitem-toggle-icon"></i>
            </a>
            <li class="nested">
                <ul class="submenu" [@slideInSubmenu]="showMenu === 'schedule'" >
                    <li>
                        <a [routerLink]="['/schedule']" [routerLinkActive]="['router-link-active']" class="list-group-item" href="javascript:void(0)">
                        	<span><i class="fa fa-calendar-plus"></i>&nbsp;{{ 'Agendamento' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/schedule/list']" [routerLinkActive]="['router-link-active']" class="list-group-item" href="javascript:void(0)">
                        	<span><i class="fa fa-calendar-check"></i>&nbsp;{{ 'Listar Agendamentos' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        <a routerLink="/orders" [routerLinkActive]="['router-link-active']" class="list-group-item" (click)="addExpandClass('orders')">
            <i class="fa fa-fw fa-list-alt"></i>&nbsp;{{ 'Comandas' | translate }}
        </a>
        <a routerLink="/clients" [routerLinkActive]="['router-link-active']" class="list-group-item" (click)="addExpandClass('clients')">
            <i class="fa fa-fw fa-address-card"></i>&nbsp;{{ 'Clientes' | translate }}
        </a>
        <div class="nested-menu" [class.expand]="showMenu === 'settings'">
            <a class="list-group-parent list-group-item" (click)="addExpandClass('settings')">
                <span><i class="fa fa-fw fa-cogs"></i>&nbsp;{{ 'Configurações' | translate }}</span>
                <i class="fa fa-fw fa-angle-down menuitem-toggle-icon"></i>
            </a>
            <li class="nested">
                <ul class="submenu" [@slideInSubmenu]="showMenu === 'settings'" >
                    <li>
                        <a [routerLink]="['/services']" [routerLinkActive]="['router-link-active']" class="list-group-item" href="javascript:void(0)">
                        	<span><i class="fa fa-cut"></i>&nbsp;{{ 'Serviços' | translate }}</span>
                        </a>
                    </li>
<!--                     <li> -->
<!--                         <a [routerLink]="['/services/category']" [routerLinkActive]="['router-link-active']" class="list-group-item" href="javascript:void(0)"> -->
<!--                         	<span><i class="fa fa-object-group"></i>&nbsp;{{ 'Categorias' | translate }}</span> -->
<!--                         </a> -->
<!--                     </li> -->
                    <li secured [accessControlList]="['MANAGE_PROFESSIONALS']">
                        <a [routerLink]="['/professionals']" [routerLinkActive]="['router-link-active']" class="list-group-item" href="javascript:void(0)">
                        	<span><i class="fa fa-user-circle"></i>&nbsp;{{ 'Profissionais' | translate }}</span>
                        </a>
                    </li>
<!--                     <li> -->
<!--                         <a [routerLink]="['/services/personalizeCommissions']" [routerLinkActive]="['router-link-active']" class="list-group-item" href="javascript:void(0)"> -->
<!--                         	<span><i class="fa fa-filter"></i>&nbsp;{{ 'Personalizar Comissões' | translate }}</span> -->
<!--                         </a> -->
<!--                     </li> -->
                </ul>
            </li>
        </div>
        <div class="nested-menu header-fields">
            <a class="list-group-parent list-group-item" (click)="addExpandClass('profile')">
                <span><i class="fa fa-user"></i>&nbsp; John Smith</span>
                <i class="fa fa-fw fa-angle-down menuitem-toggle-icon"></i>
            </a>
            <div class="nested-menu" [class.expand]="showMenu === 'profile'">
                <li class="nested">
                    <ul class="submenu" [@slideInSubmenu]="showMenu === 'profile'" >
                        <li>
                            <a class="list-group-item"  href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-user"></i> {{ 'Profile' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a class="list-group-item" href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-envelope"></i> {{ 'Inbox' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a class="list-group-item" href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-gear"></i> {{ 'Settings' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a class="list-group-item" (click)="onLoggedout()">
                                <span><i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
        </div>
    </div>
</nav>
