<p-dialog [header]="'Pagamento Comanda Nº. ' + orderForm.get('orderNumber').value" [(visible)]="displayPayment" [modal]="true" [blockScroll]="true" [contentStyle]="{'max-height':'500px' }"  width="650" baseZIndex="0" [responsive]="true" [blockScroll]="true" [closable]="true" [resizable]="true" [draggable]="false" (onHide)="onHideDialog($event)">
	<form [formGroup]="orderForm" novalidate>
		<div class="form-row">
			<div class="form-group col-md-12">
				<label for="timeTotalPrediction" class="col-form-label"><strong>Total a Pagar:&nbsp;</strong></label>
				<span style="font-size: 18px;color: green;font-weight: bold;" id="timeTotalPrediction" class="col-form-label" [innerHTML]="this.orderForm.get( 'valueTotal' ).value | currency:'BRL'"></span>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-12">
				<label for="client" class="col-form-label"><strong>Cliente</strong></label>
				<input id="client" pInputText type="text" class="form-control" [value]="this.orderForm.get( 'client' ).value.name" disabled="disabled">
			</div>
			<div class="form-group col-md-12">
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-12">
				<label for="paymentMethods" class="col-form-label required"><strong>Forma de Pagamento</strong></label>
				<p-table [autoLayout]="false" [responsive]="true" [value]="orderForm.get( 'paymentMethods' )[ 'controls' ]"
					formArrayName="paymentMethods"> <ng-template pTemplate="header" let-columns>
				</ng-template> <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
				<tr [formGroupName]="rowIndex">
					<td>
						<div class="ui-fluid">
							<p-dropdown [options]="paymentMethods" optionLabel="description" [autoWidth]="false" appendTo="body" formControlName="method"></p-dropdown>
						</div>
					</td>
					<td>
						<input id="valueUnique" type="tel" placeholder="R$ 0,00" currencyMask  pInputText [options]="{ align: 'left', allowNegative: 'false', prefix: 'R$ ', thousands: '.', decimal: ',' }"  class="form-control" formControlName="value" />
					</td>
				</tr>
				</ng-template> </p-table>
			</div>
			<div class="col-md-12">
				<button pButton type="button" class="icon-button icon-plus" (click)="addPaymentMethod()" icon="fa-plus" pTooltip="Adicionar Pagamento"
					tooltipPosition="bottom" showDelay="1000"></button>
				<button pButton *ngIf="orderForm.get( 'paymentMethods' )[ 'controls' ].length > 1" type="button" class="icon-button icon-minus"
					(click)="removePaymentMethod()" icon="fa-minus" pTooltip="Remover Pagamento" tooltipPosition="bottom" showDelay="1000"></button>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-12">
				<label for="timeTotalPrediction" class="col-form-label"><strong>Valor Pago:&nbsp;</strong></label>
				<span style="" id="timeTotalPrediction" class="col-form-label" [innerHTML]="amountPaid | currency:'BRL'"></span>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-6">
				<label for="timeTotalPrediction" class="col-form-label"><strong>Falta:&nbsp;</strong></label>
				<span style="color: red;" id="timeTotalPrediction" class="col-form-label" [innerHTML]="missingValue | currency:'BRL'"></span>
			</div>
			<div class="form-group col-md-6">
				<label for="timeTotalPrediction" class="col-form-label"><strong>Troco:&nbsp;</strong></label>
				<span style="color: green;" id="timeTotalPrediction" class="col-form-label" [innerHTML]="changeValue | currency:'BRL'"></span>
			</div>
		</div>
	</form>
	<p-footer>
		<button pButton type="submit" icon="fa-check" class="ui-button-success" label="Finalizar" [disabled]="!orderForm.valid" (click)="onSubmit(orderForm)" ></button>
    </p-footer>
</p-dialog>