<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
<!--             <li class="breadcrumb-item"> -->
<!--                 <i class="fa fa-dashboard"></i> <a href="Javascript:void(0)" [routerLink]="['/dashboard']">Dashboard</a> -->
<!--             </li> -->
            
            <li *ngFor="let head of heads; let i = index" [attr.data-index]="i" class="breadcrumb-item active">
            	<i class="fa {{icon[i]}}"></i> {{head}}
            </li>
        </ol>
    </div>
</div>