@mixin box-shadow($top, $left, $blur) {
	-webkit-box-shadow: $top $left $blur rgba(0, 0, 0, 0.25);
	-moz-box-shadow: $top $left $blur rgba(0, 0, 0, 0.25);
	box-shadow: $top $left $blur rgba(0, 0, 0, 0.25);
}

@mixin hover-element() {
    border-color: $stateHoverBorderColor;
    background: $stateHoverBgColor;
    color: $stateHoverTextColor;

    a {
        color: $stateHoverTextColor;
    }
}