.sidebar {
	margin-left: 0px;
}
	
@media screen and (max-width: 992px) {
	body {
		font-size: 1rem;
	}
	.sidebar-inactive {
		overflow: hidden;
	    .sidebar {
	        margin-left: 0px !important;
	    }
	}    
	    
    .sidebar {
        margin-left: -235px;
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.25);
    }
}

@media screen and (min-width: 768px) {
	body {
		font-size: 14px;
	}
}

@media screen and (min-width: 992px) {
	.sidebar-inactive {
	    .sidebar {
	        margin-left: -235px !important;
	    }
/* 	    .main-container { */
/* 	         margin-left: 0px !important; */
/* 	    } */
	}      
}
