<div class="mt-3">
	<p-table #dt [columns]="cols" [value]="results" [paginator]="totalRecords != 0" [autoLayout]="true" [responsive]="true" [lazy]="true" (onLazyLoad)="loadLazy($event)" [rows]="10" [totalRecords]="totalRecords" [loading]="loading">
		<ng-template pTemplate="caption">
	   		<div class="form-row justify-content-end">
	       		<input type="text" class="col-md-6 mb-3" pInputText placeholder="Filtrar ..." (input)="dt.filterGlobal($event.target.value, 'contains')">
<!-- 				<div class="ml-3"></div> -->
<!-- 				<button pButton type="button"  class="col-md-3 mb-3" icon="fa-plus" label="Abrir Comanda" (click)="display = true; isEdit = false"></button>	    			 -->
		</div>
	   </ng-template>
	   <ng-template pTemplate="header" let-columns>
	       <tr>
	           <th *ngFor="let col of columns">
	               {{col.header}}
	           </th>
	           <th style="width: 15%">Opções</th>
	       </tr>
	   </ng-template>
	   <ng-template pTemplate="body" let-rowData let-columns="columns">
	       <tr>
	            	<td *ngFor="let col of columns" [ngSwitch]="col.field">
	            		<span *ngIf="col.field == 'orderNumber'">
	            			Nº. {{rowData[col.field]}}
	            		</span>
	            		<span *ngIf="col.field == 'clientName'">
	            			{{rowData['client'].name}}
	            		</span>
	            		<span *ngIf="col.field == 'dateOpened'">
	          			 {{rowData[col.field] | date:'dd/MM/yyyy \'às\' HH:mm'}}
	            		</span>
	            		<span *ngIf="col.field == 'dateClosed'">
	          			 {{rowData[col.field] | date:'dd/MM/yyyy \'às\' HH:mm'}}
	            		</span>
	           </td>
	           	<td style="text-align:center">
	        		<button (click)="edit(rowData)" type="button" pButton icon="fa-edit"  class="icon-button ui-button-info" pTooltip="Editar" tooltipPosition="bottom" showDelay="1000"></button>
	        		<button (click)="remove(rowData)" type="button" pButton icon="fa-trash"  class="icon-button ui-button-danger" pTooltip="Excluir" tooltipPosition="bottom" showDelay="1000"></button>
	        	</td>
	       </tr>
	   </ng-template>
	   <ng-template pTemplate="emptymessage" let-columns>
	       <tr>
	           <td [attr.colspan]="columns.length+1">
	               Nenhum registro encontrado.
	           </td>
	       </tr>
	   </ng-template>
	   <ng-template pTemplate="summary">
	   		<div *ngIf="dt.totalRecords" style="text-align: left">
	        		 Mostrando {{firstRegister}} a {{rowsPerPage}} de {{ dt.totalRecords }} resultados	    		
	    		</div>
	    </ng-template>
	</p-table>
</div>
