<div [@routerTransition]>
	<p-confirmDialog acceptButtonStyleClass="ui-button-success" rejectButtonStyleClass="ui-button-danger" acceptLabel="Sim" rejectLabel="Não"></p-confirmDialog>
    <div class="form-container">
		<h5 class="font-strong mb-3">PROFISSIONAIS</h5>
		<p-table #dt [columns]="cols" [value]="results" [paginator]="totalRecords != 0" [autoLayout]="true" [responsive]="true" [lazy]="true" (onLazyLoad)="loadLazy($event)" [rows]="10" [totalRecords]="totalRecords" [loading]="loading">
 			<ng-template pTemplate="caption">
		    	<div class="form-row justify-content-end">
		        	<input type="text" class="col-md-6 mb-3" pInputText placeholder="Filtrar ..." (input)="dt.filterGlobal($event.target.value, 'contains')">
					<div class="ml-3"></div>
					<button pButton type="button" class="col-md-3 mb-3" icon="fa fa-plus" label="Cadastrar Profissional" (click)="display = true" ></button>	    			
				</div>
		    </ng-template>
		    <ng-template pTemplate="header" let-columns>
		        <tr>
		            <th *ngFor="let col of columns"  [pSortableColumn]="col.field">
		                {{col.header}}
						<p-sortIcon [field]="col.field"></p-sortIcon>
		            </th>
		            <th style="width: 10%">Opções</th>
		        </tr>
		    </ng-template>
		    <ng-template pTemplate="body" let-item let-columns="columns">
		        <tr>
		            <td *ngFor="let col of columns" [ngSwitch]="col.field">
	                   	<span *ngIf="col.field != 'justArrivalOrder' && col.field != 'contractType'">
	              			{{item[col.field]}}
	              		</span>
	              		<span *ngSwitchCase="'contractType'">{{item[col.field] == 'COMISSION'? 'Comissão' : 'Valor Fixo'}}</span>
	              		<span *ngSwitchCase="'justArrivalOrder'">{{item[col.field] ? 'Sim' : 'Não'}}</span>
		            </td>
		            	<td style="text-align:center">
			        		<button (click)="edit(item)" type="button" pButton icon="fa fa-edit "  class="icon-button ui-button-info" pTooltip="Editar" tooltipPosition="bottom" showDelay="1000"></button>
			        		<button (click)="remove(item)" type="button" pButton icon="fa fa-trash"  class="icon-button ui-button-danger" pTooltip="Excluir" tooltipPosition="bottom" showDelay="1000"></button>
			        	</td>
		        </tr>
		    </ng-template>
		    <ng-template pTemplate="emptymessage" let-columns>
		        <tr>
		            <td [attr.colspan]="columns.length+1">
		                Nenhum registro encontrado.
		            </td>
		        </tr>
		    </ng-template>
		    <ng-template pTemplate="summary">
		    		<div *ngIf="dt.totalRecords" style="text-align: left">
		        		 Mostrando {{firstRegister}} a {{rowsPerPage}} de {{ dt.totalRecords }} resultados	    		
		    		</div>
		    </ng-template>
		</p-table>
    </div>
    <app-professional-cadastre [(display)]="display" [(editEntity)]="editEntity" [(removeEntity)]="removeEntity" (updateTableChange)="updateTable($event)"></app-professional-cadastre>
</div>