<div class="row">
  <div class="col-md-2 text-center">
    <div class="btn-group">
      <button
      	type="button" [disabled]="isToday()"
        class="btn btn-primary btn-sm" 
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="viewDateChange.emit(viewDate)">
        <span class="fa fa-arrow-left"></span>
      </button>
      <button
      	type="button" [disabled]="isToday()"
        class="btn btn-primary btn-sm"
        mwlCalendarToday
        [(viewDate)]="viewDate"
        (viewDateChange)="viewDateChange.emit(viewDate)">
        Hoje
      </button>
      <button
      	type="button"
        class="btn btn-primary btn-sm"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="viewDateChange.emit(viewDate)"
        (click)="activeDayIsOpenChange.emit( false )">
        <span class="fa fa-arrow-right"></span>
      </button>
    </div>
  </div>
  <div class="col-md-7 text-center">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):locale }}</h3>
  </div>
  <div class="col-md-3 text-center">
    <div class="btn-group">
  		<div
        class="btn btn-primary btn-sm"
        (click)="viewChange.emit('month');"
        [class.active]="view === 'month'">
        Mês
      </div>
       <div
        class="btn btn-primary btn-sm"
        (click)="viewChange.emit('week')"
        [class.active]="view === 'week'">
        Semana
      </div>
       <div
        class="btn btn-primary btn-sm"
        (click)="viewChange.emit('day')"
        [class.active]="view === 'day'">
        Dia
      </div>
    </div>
  </div>
</div>
<br>