<div [@routerTransition]>
	<div class="form-container">
		<p-tabView>
		    <p-tabPanel header="Comandas Abertas">
		      	<app-order-open></app-order-open>
		    </p-tabPanel>
		    <p-tabPanel header="Comandas Fechadas">
		        <app-order-close></app-order-close>
		    </p-tabPanel>
		    <p-tabPanel header="Comandas Pendentes">
		        <app-order-close></app-order-close>
		    </p-tabPanel>
		</p-tabView>
	</div>
</div>
