<ng-template #dialogContent let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title">{{dialogTitle}}</h4>
		<button type="button" class="close" aria-label="Close"
			(click)="d('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<form [formGroup]="cadastreForm" novalidate>
	   		<div class="form-row">
	   			<div class="form-group col-md-8">
		   			<label for="name" class="col-form-label required"><strong>Nome Completo</strong></label>
					<input id="name" [ngClass]="validateFormService.displayFieldCss('name')" pInputText type="text" class="form-control" formControlName="name">
				</div>
	   			<div class="form-group col-md-4">
					<label for="birthday" class="col-form-label required"><strong>Data de Aniversário</strong></label>
					<div class="ui-fluid">
						<p-inputMask id="birthday" type="tel" mask="99/99" [ngClass]="validateFormService.displayFieldCss('birthday')" formControlName="birthday" placeholder="dd/mm"></p-inputMask>
					</div>
		   		</div>
	   		</div>
	   		<div class="form-row">
	   			<div class="form-group col-md-6">
		   			<label for="nickname" class="col-form-label required"><strong>Apelido (Nome para Agendamento)</strong></label>
					<input id="nickname" [ngClass]="validateFormService.displayFieldCss('nickname')" pInputText type="text" class="form-control" formControlName="nickname">
				</div>
	   			<div class="form-group col-md-6">
		   			<label for="contractType" class="col-form-label required"><strong>Tipo de Contrato</strong></label>
					<div class="ui-fluid">
						<p-dropdown id="contractType" placeholder="Selecione" [autoWidth]="false" [options]="typeContracts" [ngClass]="validateFormService.displayFieldCss('contractType')" formControlName="contractType"></p-dropdown>
					</div>
				</div>
	   		</div>
	   		<div class="form-row mt-2">
				<div class="col-md-12">
					<p-checkbox  id="justArrivalOrder"  binary="true" formControlName="justArrivalOrder"></p-checkbox>
					<label for="justArrivalOrder">Apenas por Ordem de Chegada (Não possui agenda)</label>
				</div>
			</div>
	   		<div class="form-row">
				<div class="form-group col-md-6">
		   			<label for="rg" class="col-form-label required"><strong>RG</strong></label>
					<input id="rg" type="tel" [ngClass]="validateFormService.displayFieldCss('rg')" pInputText class="form-control" formControlName="rg">
				</div>
				<div class="form-group col-md-6">
					<label for="cpf" class="col-form-label required"><strong>CPF</strong></label>
					<div class="ui-fluid">
						<p-inputMask id="cpf" type="tel" mask="999.999.999-99" [ngClass]="validateFormService.displayFieldCss('cpf')" formControlName="cpf"></p-inputMask>
					</div>
		   		</div>
	   		</div>
	   		<div class="form-row">
		   		<div class="form-group col-md-6">
		   			<label for="phone" class="col-form-label required"><strong>Telefone</strong></label>
					<div class="ui-fluid">
		   				<p-inputMask id="phone" type="tel" mask="(99) 99999-999?9" [ngClass]="validateFormService.displayFieldCss('phone')" formControlName="phone"></p-inputMask>
					</div>
				</div>
		   		<div class="form-group col-md-6">
					<label for="email" class="col-form-label"><strong>E-mail</strong></label>
					<input id="email" [ngClass]="validateFormService.displayFieldCss('email')" pInputText type="text" class="form-control" formControlName="email">
		   		</div>
	   		</div>
	   		<div formGroupName="address">
	   			<div class="form-row">
	   				<div class="form-group col-md-6">
		    			<label for="address" class="col-form-label required"><strong>Endereço</strong></label>
						<input id="address" [ngClass]="validateFormService.displayFieldCss('address.address')" pInputText type="text" class="form-control" formControlName="address">
					</div>
					<div class="form-group col-md-6">
						<label for="zipCode" class="col-form-label required"><strong>CEP</strong></label>
						<div class="ui-fluid">
	  						<p-inputMask id="zipCode" type="tel" mask="99999-999" [ngClass]="validateFormService.displayFieldCss('address.zipCode')" formControlName="zipCode" ></p-inputMask>
						</div>
		   			</div>
	   			</div>
	   			<div class="form-row">
	   				<div class="form-group col-md-5">
			    		<label for=neighborhood class="col-form-label required"><strong>Bairro</strong></label>
						<input id="neighborhood" [ngClass]="validateFormService.displayFieldCss('address.neighborhood')" pInputText type="text" class="form-control" formControlName="neighborhood">
					</div>
					<div class="form-group col-md-4">
						<label for="city" class="col-form-label required"><strong>Cidade</strong></label>
						<input id="city" [ngClass]="validateFormService.displayFieldCss('address.city')" pInputText type="text" class="form-control" formControlName="city">
					</div>
					<div class="form-group col-md-3">
						<label for="state" class="col-form-label required"><strong>UF</strong></label>
						<div class="ui-fluid">
							<p-dropdown id="state" [options]="states" placeholder="Selecione"  [autoWidth]="false" formControlName="state" 
								[ngClass]="validateFormService.displayFieldCss('address.state')">
							</p-dropdown>
						</div>
		   			</div>
	   			</div>
	   		</div>
	   		<div class="form-row">
				<div class="col-md-12 mt-2">
					<p-accordion>
					    <p-accordionTab [selected]="false">
					    	<p-header>
						        Serviços
						        <span class="fa fa-question-circle" style="float: right" pTooltip="Serviços que o profissional realiza" tooltipPosition="top" showDelay="700">
						        </span>
						    </p-header>
	<!-- 				    	<div class="form-row"> -->
	<!-- 						    <div  *ngFor="let professional of professionals" class="col-md-6 mb-1"> -->
	<!-- 						    	<p-checkbox value="{{professional}}" label="{{professional.name}}" [(ngModel)]="selectedProfessionals" inputId="{{professional.id}}"> -->
	<!-- 						    	</p-checkbox> -->
	<!-- 						    </div> -->
	<!-- 						</div> -->
							<div class="form-row">
									<div class="col-md-6" formArrayName="services">
										<ng-container *ngFor="let data of categories; let i = index">
											<div [ngClass]="i > 1 ? 'mt-3' : ''" *ngIf="i % 2 === 0" [formGroupName]="i">
												<p-listbox [options]="data.services" formControlName="serviceGroup" [style]="{'margin':'auto'}" (onChange)="onChangeServiceSelected($event)" multiple="true" checkbox="true" filter="true" optionLabel="name" dataKey="id" [metaKeySelection]="false">
												  <p-header>
											    	<strong>{{data.description}}</strong>
												  </p-header>
												</p-listbox>
											</div>
										</ng-container>
									</div>
									<div class="col-md-6" formArrayName="services">
										<ng-container *ngFor="let data of categories; let i = index">
											<div [ngClass]="i > 1 ? 'mt-3' : ''" *ngIf="i % 2 !== 0" [formGroupName]="i">
												<p-listbox [options]="data.services" formControlName="serviceGroup" [style]="{'margin':'auto'}" (onChange)="onChangeServiceSelected($event)" multiple="true" checkbox="true" filter="true" optionLabel="name" dataKey="id" [metaKeySelection]="false">
											  <p-header>
										    	<strong>{{data.description}}</strong>
											  </p-header>
											</p-listbox>
											</div>
										</ng-container>
									</div>
							</div>
					    </p-accordionTab>
					</p-accordion>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button pButton type="button" icon="fa fa-check" class="ui-button-success" label="Salvar" [disabled]="!cadastreForm.valid" (click)="onSubmit(cadastreForm, c)"></button>
	</div>
</ng-template>

<!-- <p-dialog header="Novo Profissional" [(visible)]="display" [modal]="true" [contentStyle]="{'max-height':'500px' }"  width="650" baseZIndex="0" [responsive]="true" [blockScroll]="true" [closable]="true" [resizable]="true" [draggable]="false" (onHide)="onHideDialog($event)"> -->
<!-- 	<p-footer> -->
<!--   			<button pButton type="button" icon="fa-check" class="ui-button-success" label="Salvar" [disabled]="!cadastreForm.valid" (click)="onSubmit(cadastreForm)"></button> -->
<!-- 	</p-footer> -->
<!-- </p-dialog> -->