@import '../../sass/mixins';

.login-page {
    position: absolute;
	top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}

.card-login-form {
	@include box-shadow(0,0,10px);
}

img.card-img-top {
	height: 220px;
}