@import "../../../../sass/variables";

	.navbar-brand-header{
		width: 235px;
		-webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
		padding: 0.5rem 1rem;
		background-image: linear-gradient(to right, $topnav-background-color, $topnav-background-brand-color);
	}
	.navbar {
		padding: 0 0.5rem 0 0;
        background-color: $topnav-background-color;
        -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
        .navbar-brand {
            color: #fff;
        }
        .nav-item > a {
            color: #fff;
            &:hover {
                color: #fff;
            }
        }
        .menu-button {
			color: #234b7d;
			display: inline-block;
			vertical-align: middle;
			width: 32px;
			height: 32px;
			position: absolute;
			left: 219px;
			text-align: center;
			background-color: #ffffff;
			-moz-border-radius: 4px;
			-webkit-border-radius: 4px;
			border-radius: 4px;
			margin-top: 3px;
			&:hover {
				background-color: #f4f4f4; 
			}
			i {
		        -webkit-transition: all 0.3s;
		        -moz-transition: all 0.3s;
		        -o-transition: all 0.3s;
				-ms-transition: all 0.3s;
		        transition: all 0.3s;
		        font-size: 32px;
	       	}
			&.menu-button-rotate i {
		        -webkit-transform: rotate(180deg);
			    -moz-transform: rotate(180deg);
			    -o-transform: rotate(180deg);
			    -ms-transform: rotate(180deg);
			    transform: rotate(180deg);
			}
		}
		    
    }
    .messages {
        width: 300px;
        .media {
            border-bottom: 1px solid #ddd;
            padding: 5px 10px;
            &:last-child {
                border-bottom: none;
            }
        }
        .media-body {
            h5 {
                font-size: 13px;
                font-weight: 600;
            }
            .small {
                margin: 0;
            }
            .last {
                font-size: 12px;
                margin: 0;
            }
        }
    }
    
.navbar-nav .dropdown-menu {
	right: 0 !important;
}
    
.fixed-top {
	z-index: 2 !important;
}
