<div [@routerTransition]>
	<p-confirmDialog acceptButtonStyleClass="ui-button-success" rejectButtonStyleClass="ui-button-danger" acceptLabel="Sim" rejectLabel="Não"></p-confirmDialog>
    <div class="form-container">
		<h5 class="font-strong mb-3">SERVIÇOS</h5>
		<p-table #dt [columns]="cols" [value]="results" [paginator]="totalRecords != 0" [autoLayout]="true" [responsive]="true" [lazy]="true" (onLazyLoad)="loadLazy($event)" [rows]="10" [totalRecords]="totalRecords" [loading]="loading">
 			<ng-template pTemplate="caption">
	    		<div class="form-row justify-content-end">
		        	<input type="text" class="col-md-6 mb-3" pInputText placeholder="Filtrar ..." (input)="dt.filterGlobal($event.target.value, 'contains')">
					<div class="ml-3"></div>
					<button pButton type="button" class="col-md-3  mb-3" icon="fa fa-plus" label="Cadastrar Serviço" (click)="display = true" ></button>	    			
				</div>
		    </ng-template>
		    <ng-template pTemplate="header" let-columns>
		        <tr>
		            <th *ngFor="let col of columns">
		                {{col.header}}
		            </th>
		            <th style="width: 10%">Opções</th>
		        </tr>
		    </ng-template>
		    <ng-template pTemplate="body" let-client let-columns="columns">
		        <tr>
	              	<td *ngFor="let col of columns" [ngSwitch]="col.field">
	              		<span *ngIf="col.field != 'visibleToClient' && col.field != 'prices' && col.field != 'category'">
	              			{{client[col.field]}}
	              			<span *ngSwitchCase="'commission'">%</span>
	              			<span *ngSwitchCase="'timePrediction'">min</span>
	              		</span>
              			<span *ngSwitchCase="'category'">{{client[col.field].description}}</span>
	              		<span *ngSwitchCase="'visibleToClient'">{{client[col.field] ? 'Sim' : 'Não'}}</span>
	              		<span *ngSwitchCase="'prices'">
	              			<span *ngFor="let price of client[col.field]">
	              				<span *ngIf="price.complementOfName != null">
	              					{{price.complementOfName}}
	              				</span>
	              					{{price.value | currency:'BRL':true}}<br/>
	              			</span>
	              		</span>
		            </td>
		            	<td style="text-align:center">
			        		<button (click)="edit(client)" type="button" pButton icon="fa fa-edit"  class="icon-button ui-button-info" pTooltip="Editar" tooltipPosition="bottom" showDelay="1000"></button>
			        		<button (click)="remove(client)" type="button" pButton icon="fa fa-trash"  class="icon-button ui-button-danger" pTooltip="Excluir" tooltipPosition="bottom" showDelay="1000"></button>
			        	</td>
		        </tr>
		    </ng-template>
		    <ng-template pTemplate="emptymessage" let-columns>
		        <tr>
		            <td [attr.colspan]="columns.length+1">
		                Nenhum registro encontrado.
		            </td>
		        </tr>
		    </ng-template>
		    <ng-template pTemplate="summary">
		    		<div *ngIf="dt.totalRecords" style="text-align: left">
		        		 Mostrando {{firstRegister}} a {{rowsPerPage}} de {{ dt.totalRecords }} resultados	    		
		    		</div>
		    </ng-template>
		</p-table>
    </div>
    <app-service-cadastre  [(display)]="display" [(editEntity)]="editEntity" [(removeEntity)]="removeEntity" (updateTableChange)="updateTable($event)"></app-service-cadastre>
</div>