<ng-template #dialogContent let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title">{{dialogTitle}}</h4>
		<button type="button" class="close" aria-label="Close"
			(click)="d('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<form [formGroup]="cadastreForm" novalidate>
			<div class="form-row">
				<div class="form-group col-md-8">
					<label for="name" class="col-form-label required"><strong>Nome</strong></label>
					<input id="name" [ngClass]="validateFormService.displayFieldCss('name')" pInputText type="text" class="form-control" formControlName="name">
				</div>
				<div class="form-group col-md-4">
					<label for="category" class="col-form-label required"><strong>Categoria</strong></label>
					<div class="ui-fluid">
						<p-dropdown id="category" [ngClass]="validateFormService.displayFieldCss('category')" [options]="categories" [autoWidth]="false" placeholder="Selecione" formControlName="category"></p-dropdown>
					</div>
				</div>
			</div>
			<div class="form-row mt-2">
				<div class="col-md-12">
					<p-checkbox binary="true" formControlName="visibleToClient"></p-checkbox>
					<label for="visibleToClient">Visível para Agendamento Online</label>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-4">
					<label for="commission" class="col-form-label required"><strong>Comissão</strong></label>
	<!-- 				<div class="ui-fluid"> -->
	<!-- 					<p-inputMask id="commission" [autoClear]="false" [unmask]="true" slotChar=" " mask="999%" [ngClass]="validateFormService.displayFieldCss('commission')" formControlName="commission" placeholder="%"></p-inputMask> -->
	<!-- 				</div> -->
					<div class="ui-inputgroup">
			            <input type="tel" pInputText maxlength="3" onlyNumber="true" class="form-control" [ngClass]="validateFormService.displayFieldCss('commission')"  formControlName="commission">         
			            <span class="ui-inputgroup-addon">%</span>      
			        </div>
				</div>
				<div class="form-group col-md-4">
		 			<label for="timePrediction" class="col-form-label required"><strong>Duração Prevista</strong></label>
	<!-- 				<div class="ui-fluid"> -->
	<!-- 					<p-inputMask id="timePrediction" [autoClear]="false" [unmask]="true" slotChar=" " mask="999min" maxlength="100" [ngClass]="validateFormService.displayFieldCss('timePrediction')" formControlName="timePrediction" placeholder="min"></p-inputMask> -->
	<!-- 				</div> -->
					<div class="ui-inputgroup">
			            <input type="tel" pInputText maxlength="3" onlyNumber="true" class="form-control" [ngClass]="validateFormService.displayFieldCss('timePrediction')"  formControlName="timePrediction">         
			            <span class="ui-inputgroup-addon">min</span>      
			        </div>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-4">
					<label for="typeValue" class="col-form-label required"><strong>Tipo de Valor</strong></label>
					<div class="ui-fluid">
						<p-dropdown id="typeValue" [ngClass]="validateFormService.displayFieldCss('typeValue')" [options]="typesValue" [autoWidth]="false" formControlName="typeValue" (onChange)="typeValueOnChange($event)"></p-dropdown>
					</div>
				</div>
				<div *ngIf="cadastreForm.get('typeValue').value !== 'VARIED'" class="form-group col-md-4">
					<label for="valueUnique" class="col-form-label required"><strong>Valor</strong></label>
					<input id="valueUnique" type="tel" placeholder="R$ 0,00" currencyMask  [ngClass]="validateFormService.displayFieldCss('valueUnique')" pInputText [options]="{ align: 'left', allowNegative: 'false', prefix: 'R$ ', thousands: '.', decimal: ',' }"  class="form-control" formControlName="valueUnique" />
				</div>
			</div>
			<div *ngIf="cadastreForm.get('typeValue').value === 'VARIED'" class="form-row">
				<div class="col-md-12 mt-2">
					<p-table [columns]="colsServices" [autoLayout]="false" [value]="cadastreForm.get( 'prices' )[ 'controls' ]" formArrayName="prices">
				    	<ng-template pTemplate="header"  let-columns>
					        <tr>
					            <th *ngFor="let col of colsServices" class="col-form-label required">
					            	{{col.header}}
					            </th>
					        </tr>
					    </ng-template>
					    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
					        <tr [formGroupName]="rowIndex">
								<td>
									<input type="text" class="col" formControlName="complementOfName">
								</td>
								<td>
									<input style="padding:0 15px;width:100%" type="tel" placeholder="R$ 0,00" currencyMask  [options]="{ align: 'left', allowNegative: 'false', prefix: 'R$ ', thousands: '.', decimal: ',' }"  formControlName="value" />
								</td>					
					        </tr>
					    </ng-template>
					</p-table>
				</div>
			</div>
			<div *ngIf="cadastreForm.get('typeValue').value === 'VARIED'" class="form-row">
				<div class="col-md-12">
					<button pButton type="button" class="icon-button icon-plus" (click)="addPrice()" icon="fa fa-plus" pTooltip="Adicionar Valor" tooltipPosition="bottom" showDelay="1000"></button>	    			
		    		<button pButton *ngIf="cadastreForm.get( 'prices' )[ 'controls' ].length > 1"
		    			 type="button" class="icon-button icon-minus" (click)="removePrice()" icon="fa fa-minus" pTooltip="Remover Valor" tooltipPosition="bottom" showDelay="1000"></button>	    			
				</div>
			</div>
			<div class="form-row">
				<div class="col-md-12 mt-2">
					<p-accordion>
					    <p-accordionTab header="Profissionais que realizam o serviço" [selected]="professionals.length > 0">
					    	<div class="form-row">
							    <div  *ngFor="let professional of professionals" class="col-md-6 mb-1">
							    	<app-checkbox [value]="professional" [label]="professional.nickname" formControlName="professionals"						    	 ></app-checkbox>
							    </div>
							</div>
					    </p-accordionTab>
					</p-accordion>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button pButton type="button" icon="fa fa-check" class="ui-button-success" label="Salvar"  (click)="onSubmit(cadastreForm, c)"></button>
	</div>
</ng-template>

<!-- <p-dialog header="Novo Serviço" [(visible)]="display" [modal]="true" [blockScroll]="true" [contentStyle]="{'max-height':'500px' }"  width="650" baseZIndex="0" [responsive]="true" [blockScroll]="true" [closable]="true" [resizable]="true" [draggable]="false" (onHide)="onHideDialog($event)"> -->
<!-- 	<p-footer> -->
<!-- 	</p-footer> -->
<!-- </p-dialog> -->