<app-msgs></app-msgs>
<div [@routerTransition]>
<!-- 	<p-confirmDialog style="z-index: 1060" acceptButtonStyleClass="ui-button-success" rejectButtonStyleClass="ui-button-danger" acceptLabel="Sim" rejectLabel="Não"></p-confirmDialog> -->
    <div class="form-container">
		<h5 class="font-strong mb-3">LISTAR AGENDAMENTOS</h5>
		<form [formGroup]="consultForm" (ngSubmit)="onSubmit(consultForm)" novalidate>
			<div class="form-row">
				<div class="col-md-2 ui-fluid">
					<label for="inDate" class="col-form-label"><strong>De</strong></label>
		        	<p-calendar id="inDate" [showIcon]="true" [locale]="ptBR" dateFormat="dd/mm/yy" [readonlyInput]="true" [touchUI]="true" formControlName="dateScheduledStart"></p-calendar>
		   		</div>	
		   		<div class="col-md-2 ui-fluid">
					<label for="untilDate" class="col-form-label"><strong>Até</strong></label>
		        	<p-calendar id="untilDate" [showIcon]="true" [locale]="ptBR" dateFormat="dd/mm/yy" [readonlyInput]="true" [touchUI]="true" formControlName="dateScheduledEnd"></p-calendar>
		   		</div>
				<div class="form-group col-md-3">
					<label for="client" class="col-form-label"><strong>Cliente</strong></label>
					<div class="ui-fluid">
						<p-autoComplete id="client" [suggestions]="filteredClients" (onClear)="clearAutoCompleteClient($event)" (completeMethod)="filterClients($event)" [size]="30"
						    [minLength]="1" placeholder="Buscar ..." field="name" [dropdown]="false" [forceSelection]="true" formControlName="client">
						</p-autoComplete>
					</div>
				</div>
				<div class="form-group col-md-3">
    				<label for="professional" class="col-form-label"><strong>Profissional</strong></label>
					<div class="ui-fluid">
						<p-dropdown id="professional"  [options]="professionals" optionLabel="nickname" [autoWidth]="false" placeholder="Selecione" formControlName="professional"></p-dropdown>
					</div>
    			</div>
    			<div class="form-group col-md-2">
    				<label for="status" class="col-form-label"><strong>Status</strong></label>
					<div class="ui-fluid">
						<p-dropdown id="status"  [options]="status" [autoWidth]="false" placeholder="Selecione" formControlName="status"></p-dropdown>
					</div>
    			</div>
			</div>
			<div class="col-md-12 form-group text-center">
    			<button pButton type="submit" class="ui-button col-md-3 mt-3 mb-3 mr-3" icon="fa fa-search" label="Consultar"></button>
    			<button pButton type="button" class="ui-button-secondary col-md-3" icon="fa fa-eraser"  label="Limpar" (click)="onClear()"></button>
    		</div>
		</form>
		<div class="form-row">
			<div class="col-md-12 mt-2">
				<p-table #dt [columns]="cols" [value]="results" [paginator]="totalRecords != 0"
				 [autoLayout]="true" [responsive]="true" [lazy]="true" (onLazyLoad)="loadLazy($event)" [rows]="10" [totalRecords]="totalRecords" [loading]="loading">
				    <ng-template pTemplate="header" let-columns>
				        <tr>
				            <th *ngFor="let col of columns"  [pSortableColumn]="col.field">
				                {{col.header}}
          						<p-sortIcon [field]="col.field"></p-sortIcon>
				            </th>
				            <th>Opções</th>
				        </tr>
				    </ng-template>
				    <ng-template pTemplate="body" let-rowData let-columns="columns">
				        <tr [pSelectableRow]="rowData">
				            <td *ngFor="let col of columns" [ngSwitch]="col.field">
			            		<span *ngSwitchCase="'dateScheduled'">
			            			 {{rowData[col.field] | date:'dd/MM/yyyy \'às\' HH:mm'}}
			            		</span>
			            		<span *ngSwitchCase="'client.name'">
			            			 {{rowData['client'].name}}
			            		</span>
			            		<span *ngSwitchCase="'client.phone'">
			            			 {{rowData['client'].phone}}
			            		</span>
			            		<span *ngSwitchCase="'professional.nickname'">
			            			 {{rowData['professional'].nickname}}
			            		</span>
			            		<span *ngSwitchCase="'status'">
			            			 {{getStatus(rowData[col.field])}}
			            		</span>
				            </td>
				            <td style="text-align:center;width: 15%">
				        		<button (click)="edit(rowData)" type="button" pButton icon="fa fa-eye"  class="icon-button" pTooltip="Visualizar" tooltipPosition="bottom" showDelay="1000"></button>
				        		<button (click)="openOrder(rowData)" type="button" pButton icon="fa fa-dollar-sign"  class="icon-button" pTooltip="Abrir Comanda" tooltipPosition="bottom" showDelay="1000"></button>
				        		<button type="button" pButton icon="fa fa-ban"  class="icon-button" pTooltip="Cancelar" tooltipPosition="bottom" showDelay="1000"></button>
				        	</td>
				        </tr>
				    </ng-template>
				     <ng-template pTemplate="emptymessage" let-columns>
				        <tr>
				            <td [attr.colspan]="columns.length+1">
				                Nenhum registro encontrado.
				            </td>
				        </tr>
				    </ng-template>
				    <ng-template pTemplate="summary">
				    		<div *ngIf="dt.totalRecords" style="text-align: left">
				        		 Mostrando {{firstRegister}} a {{rowsPerPage}} de {{ dt.totalRecords }} resultados	    		
				    		</div>
				    </ng-template>
				</p-table>
			</div>
		</div>
		<p-dialog *ngIf="schedulingSelected" header="Vizualizar Agendamento" [(visible)]="display" [modal]="true" [contentStyle]="{'max-height':'500px' }"  width="650" baseZIndex="0" [responsive]="true" [blockScroll]="true" [closable]="true" [resizable]="true" [draggable]="false">
<!-- 		<p-dialog *ngIf="schedulingSelected" header="Vizualizar Agendamento" [(visible)]="display" [modal]="true" width="800" baseZIndex="1" [responsive]="true" [blockScroll]="true" [closable]="true" [resizable]="true" [draggable]="false"> -->
			<div class="form-row">
				<div class="form-group col-md-12">
					<label for="clientName" class="col-form-label"><strong>Cliente</strong></label>
					<input id="clientName" pInputText type="text" class="form-control" value="{{schedulingSelected.client.name}}" disabled="disabled">
				</div>
			</div>
<!-- 			<div class="form-row form-group col-auto"> -->
<!-- 				<label for="professionalName" class="col-md-2 col-form-label"><strong>Profissional</strong></label> -->
<!-- 				<div class="col-md-10"> -->
<!-- 					<input id="professionalName" pInputText type="text" class="form-control" value="{{schedulingSelected.professional.name}}" disabled="disabled"> -->
<!-- 				</div> -->
<!-- 			</div> -->
			<div class="form-row">
				<div class="form-group col-md-4">
					<label for="dateScheduled" class="col-form-label"><strong>Data</strong></label>
					<input id="dateScheduled" pInputText type="text" class="form-control" value="{{schedulingSelected.dateScheduled | date:'dd/MM/yyyy'}}" disabled="disabled">
				</div>
				<div class="form-group col-md-4">
					<label for="dateScheduled" class="col-form-label"><strong>Início</strong></label>
					<input id="dateScheduled" pInputText type="text" class="form-control" value="{{schedulingSelected.dateScheduled | date:'HH:mm'}}" disabled="disabled">
				</div>
				<div class="form-group col-md-4">
					<label for="dateScheduled" class="col-form-label"><strong>Término</strong></label>
					<input id="dateScheduled" pInputText type="text" class="form-control" value="{{schedulingSelected.datePrevision | date:'HH:mm'}}" disabled="disabled">
				</div>
			</div>
			<div class="form-row ">
				<div class="form-group col-md-6">
					<label for="valueTotal" class="col-form-label"><strong>Tempo Total</strong></label>
					<input id="valueTotal" pInputText type="text" class="form-control" value="{{schedulingSelected.timePrevision | minuteToHour}}" disabled="disabled">
				</div>
				<div class="form-group col-md-6">
					<label for="valueTotal" class="col-form-label"><strong>Valor Total</strong></label>
					<input id="valueTotal" pInputText type="text" class="form-control" value="{{schedulingSelected.valueTotal | currency:'BRL':true}}" disabled="disabled">
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-12">
					<label for="valueTotal" class="col-form-label"><strong>Serviços</strong></label>
					<p-table [value]="schedulingSelected.services">
					    <ng-template pTemplate="header">
					        <tr>
					            <th *ngFor="let col of colsServices">
					                {{col.header}}
					            </th>
					        </tr>
					    </ng-template>
					    <ng-template pTemplate="body" let-car>
					        <tr>
					            <td *ngFor="let col of colsServices" [ngSwitch]="col.field">
					               	<span *ngSwitchCase="'description'">
				            			  {{car[col.field]}}
				            		</span>  
				            		<span *ngSwitchCase="'timePrediction'">
				            			  {{car[col.field] | minuteToHour}}
				            		</span> 
				            		<span *ngSwitchCase="'value'">
				            			  {{car[col.field] | currency:'BRL':true}}
				            		</span>    
					            </td>
					        </tr>
					    </ng-template>
					</p-table>
				</div>
			</div>
			<p-footer>
    			<button pButton type="button" icon="fa fa-dollar-sign" class="ui-button-success" label="Abrir Comanda"></button>
    			<button pButton type="button" icon="fa fa-ban" class="ui-button-danger"  label="Cancelar"></button>
<!--     			<button pButton type="button"  icon="fa-times" class="ui-button-secondary"  label="Fechar" (click)="display=false" ></button> -->
			</p-footer>
		</p-dialog>
	</div>
</div>