<ng-template #dialogContent let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title">{{dialogTitle}}</h4>
		<button type="button" class="close" aria-label="Close"
			(click)="d('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<form [formGroup]="cadastreForm" (ngSubmit)="onSubmit(cadastreForm)" novalidate>
	   		<div class="form-row">
		   		<div class="form-group col-md-8">
		   			<label for="name" class="col-form-label required"><strong>Nome</strong></label>
					<input id="name" [ngClass]="validateFormService.displayFieldCss('name')" pInputText type="text" class="form-control" formControlName="name">
				</div>
				<div class="form-group col-md-4">
					<label for="birthday" class="col-form-label required"><strong>Data de Aniversário</strong></label>
					<div class="ui-fluid">
						<p-inputMask id="birthday" type="tel" mask="99/99" [ngClass]="validateFormService.displayFieldCss('birthday')" formControlName="birthday" placeholder="dd/mm"></p-inputMask>
					</div>
				</div>
	   		</div>
	   		<div class="form-row">
		   		<div class="form-group col-md-4">
		   			<label for="phone" class="col-form-label required"><strong>Telefone</strong></label>
					<div class="ui-fluid">
			      		<p-inputMask id="phone" type="tel" mask="(99) 99999-999?9" [ngClass]="validateFormService.displayFieldCss('phone')" formControlName="phone" placeholder="(99) 99999-9999"></p-inputMask>
					</div>
				</div>
				<div class="form-group col-md-4">
		   			<label for="phone2" class="col-form-label"><strong>Telefone 2</strong></label>
					<div class="ui-fluid">
			      		<p-inputMask id="phone2" type="tel" mask="(99) 99999-999?9" [ngClass]="validateFormService.displayFieldCss('phone2')" formControlName="phone2" placeholder="(99) 99999-9999"></p-inputMask>
					</div>
				</div>
				<div class="form-group col-md-4">
					<label for="email" class="col-form-label"><strong>E-mail</strong></label>
					<input id="email" [ngClass]="validateFormService.displayFieldCss('email')" pInputText type="text" class="form-control" formControlName="email">
				</div>
	   		</div>
	   		<div formGroupName="address">
	   			<div class="form-row">
		   			<div class="form-group col-md-8">
			    		<label for="address" class="col-form-label"><strong>Endereço</strong></label>
						<input id="address" [ngClass]="validateFormService.displayFieldCss('address.address')" pInputText type="text" class="form-control" formControlName="address">
	   				</div>
	   				<div class="form-group col-md-4">
						<label for="zipCode" class="col-form-label"><strong>CEP</strong></label>
						<div class="ui-fluid">
			      			<p-inputMask id="zipCode" type="tel" mask="99999-999" [ngClass]="validateFormService.displayFieldCss('address.zipCode')" formControlName="zipCode" placeholder="99999-999"></p-inputMask>
						</div>
					</div>
	   			</div>
	   			<div class="form-row">
	   				<div class=" form-group col-md-5">
			    		<label for=neighborhood class="col-form-label"><strong>Bairro</strong></label>
						<input id="neighborhood" [ngClass]="validateFormService.displayFieldCss('address.neighborhood')" pInputText type="text" class="form-control" formControlName="neighborhood">
					</div>
					<div class=" form-group col-md-4">
						<label for="city" class="col-form-label"><strong>Cidade</strong></label>
						<input id="city" [ngClass]="validateFormService.displayFieldCss('address.city')" pInputText type="text" class="form-control" formControlName="city">
					</div>
					<div class=" form-group col-md-3">
						<label for="state" class="col-form-label"><strong>UF</strong></label>
						<div class="ui-fluid">
							<p-dropdown [options]="states" placeholder="Selecione"  [autoWidth]="false" formControlName="state" [ngClass]="validateFormService.displayFieldCss('address.state')">
							</p-dropdown>
						</div>
		   			</div>
	   			</div>
	   		</div>
	   		<div class="form-row">
				<div class=" form-group col-md-6">
					<label for="state" class="col-form-label"><strong>Por onde conheceu o salão?</strong></label>
					<div class="ui-fluid">
						<p-dropdown [ngClass]="validateFormService.displayFieldCss('channelMetSalon')"  [options]="channelsMetSalon" [autoWidth]="false" placeholder="Selecione" formControlName="channelMetSalon"></p-dropdown>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button pButton type="submit" icon="fa fa-check" class="ui-button-success" label="Salvar" [disabled]="!cadastreForm.valid" (click)="onSubmit(cadastreForm, c)"></button>
	</div>
</ng-template>

<!-- <p-dialog header="Novo Cliente" [contentStyle]="{'max-height':'450px' }" [visible]="display" [modal]="true" [blockScroll]="true" [draggable]="false" [resizable]="false" (onShow)="onShowDialog($event)" (onHide)="onHideDialog($event)"> -->
	
<!-- 	<p-footer> -->
<!-- 		<button pButton type="submit" icon="fa fa-check" class="ui-button-success" label="Salvar" [disabled]="!cadastreForm.valid" (click)="onSubmit(cadastreForm)"></button> -->
<!-- 	</p-footer> -->
	
<!-- </p-dialog> -->