<app-header></app-header>
<app-sidebar></app-sidebar>
<section [@slideInMainContainer]="isToggled()" class="main-container">
    <router-outlet></router-outlet>
</section>
<div class="layout-mask"></div>
