<div class="mt-3">
	<p-table #dt [columns]="cols" [value]="results" [paginator]="totalRecords != 0" [autoLayout]="true" [responsive]="true" [lazy]="true" (onLazyLoad)="loadLazy($event)" [rows]="10" [totalRecords]="totalRecords" [loading]="loading">
		<ng-template pTemplate="caption">
	   		<div class="form-row justify-content-end">
	       		<input type="text" class="col-md-6 mb-3" pInputText placeholder="Filtrar ..." (input)="dt.filterGlobal($event.target.value, 'contains')">
				<div class="ml-3"></div>
				<button pButton type="button"  class="col-md-3 mb-3" icon="fa-plus" label="Abrir Comanda" (click)="display = true; isEdit = false"></button>	    			
		</div>
	   </ng-template>
	   <ng-template pTemplate="header" let-columns>
	       <tr>
	           <th *ngFor="let col of columns">
	               {{col.header}}
	           </th>
	           <th style="width: 15%">Opções</th>
	       </tr>
	   </ng-template>
	   <ng-template pTemplate="body" let-rowData let-columns="columns">
	       <tr>
	            	<td *ngFor="let col of columns" [ngSwitch]="col.field">
	            		<span *ngIf="col.field == 'orderNumber'">
	            			Nº. {{rowData[col.field]}}
	            		</span>
	            		<span *ngIf="col.field == 'clientName'">
	            			{{rowData['client'].name}}
	            		</span>
	            		<span *ngIf="col.field == 'dateOpened'">
	          			 {{rowData[col.field] | date:'dd/MM/yyyy \'às\' HH:mm'}}
	            		</span>
	           </td>
	           	<td style="text-align:center">
	        		<button (click)="edit(rowData)" type="button" pButton icon="fa-edit"  class="icon-button ui-button-info" pTooltip="Editar" tooltipPosition="bottom" showDelay="1000"></button>
	        		<button (click)="remove(rowData)" type="button" pButton icon="fa-trash"  class="icon-button ui-button-danger" pTooltip="Excluir" tooltipPosition="bottom" showDelay="1000"></button>
	        	</td>
	       </tr>
	   </ng-template>
	   <ng-template pTemplate="emptymessage" let-columns>
	       <tr>
	           <td [attr.colspan]="columns.length+1">
	               Nenhum registro encontrado.
	           </td>
	       </tr>
	   </ng-template>
	   <ng-template pTemplate="summary">
	   		<div *ngIf="dt.totalRecords" style="text-align: left">
	        		 Mostrando {{firstRegister}} a {{rowsPerPage}} de {{ dt.totalRecords }} resultados	    		
	    		</div>
	    </ng-template>
	</p-table>
</div>
<p-dialog [header]="!isEdit ? 'Abrir Comanda' : 'Comanda Nº. ' + cadastreForm.get('orderNumber').value" [(visible)]="display" [modal]="true" [blockScroll]="true" [contentStyle]="{'max-height':'500px' }"  width="650" baseZIndex="0" [responsive]="true" [closable]="true" [resizable]="false" [draggable]="false" (onHide)="onHideDialog($event)">
	<form [formGroup]="cadastreForm" novalidate>
		<div class="form-row">
			<div class="form-group col-md-12">
				<label for="client" class="col-form-label required"><strong>Cliente</strong></label>
				<div class="ui-fluid">
					<p-autoComplete id="client"  formControlName="client"
						[suggestions]="filteredClients" (onClear)="clearAutoCompleteClient($event)" (completeMethod)="filterClients($event)" [size]="30"
						[minLength]="1" placeholder="Buscar ..." field="name" [forceSelection]="true"> </p-autoComplete>
				</div>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-12">
				<label for="services" class="col-form-label required"><strong>Serviços</strong></label>
				<p-table [columns]="colsServices" [autoLayout]="false" [responsive]="true" [value]="cadastreForm.get( 'services' )[ 'controls' ]"
					formArrayName="services"> <ng-template pTemplate="header" let-columns>
				<tr>
					<th *ngFor="let col of colsServices" class="col-form-label">{{col.header}}</th>
				</tr>
				</ng-template> <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
				<tr [formGroupName]="rowIndex">
					<td>
						<div class="ui-fluid">
							<p-dropdown [options]="services" placeholder="Selecione"  [autoWidth]="false"  formControlName="service" 
							emptyFilterMessage="Não encontrado"	resetFilterOnHide="true" [group]="true" filter="true">
							</p-dropdown>
<!-- 							<p-autoComplete  formControlName="service" [suggestions]="filteredServices" (completeMethod)="filterServices($event)" -->
<!-- 								[size]="30" [minLength]="1" placeholder="Buscar Nome ..." field="description" [forceSelection]="true" [dropdown]="false"> -->
<!-- 							</p-autoComplete> -->
						</div>
					</td>
					<td>
						<div formArrayName="professionals" *ngFor="let professional of rowData.get('professionals')['controls']; let i = index;">
							<div class="row" [formGroupName]="i">
								<div class="col-9 ui-fluid" style="padding-right: 1px !important" [ngClass]="{'mt-1' : i > 0}" >
									<p-dropdown [options]="professionals" placeholder="Selecione" optionLabel="name" [autoWidth]="false" 
									emptyFilterMessage="Não encontrado"  formControlName="professional" resetFilterOnHide="true" [filter]="true">
									
									</p-dropdown>						
<!-- 									<p-autoComplete  formControlName="professional" [suggestions]="filtered" (onClear)="clearAutoComplete($event)" -->
<!-- 										(completeMethod)="filter($event)" [size]="30" [minLength]="1" placeholder="Buscar Profissional ..." field="name" -->
<!-- 										[forceSelection]="true" [dropdown]="false"> </p-autoComplete> -->
								</div>
								<button *ngIf="i === 0" pButton type="button" [ngClass]="{'mt-1' : i > 0}" icon="fa-plus" class="col-2 icon-button" pTooltip="Adicionar mais um Profissional"
									tooltipPosition="bottom" showDelay="1000" (click)="addProfessionalItem(rowIndex)"></button>
								<button *ngIf="i > 0" pButton type="button" [ngClass]="{'mt-1' : i > 0}" icon="fa-minus" class="col-2 icon-button" pTooltip="Remover Profissional"
									tooltipPosition="bottom" showDelay="1000" (click)="removeProfessionalItem(rowIndex, i)"></button>
							</div>
						</div>
					</td>
					<td>
						<div *ngIf="rowData.get('service').value != null" class="ui-fluid">
							<div *ngIf="rowData.get('service').value.prices.length <= 1">
								<p-dropdown [options]="getPrices(rowIndex)" [autoWidth]="false"  formControlName="price">
									<ng-template let-item	pTemplate="selectedItem">
										<span>{{item.value.value | currency:'BRL'}}</span>
									</ng-template>
									<ng-template let-item pTemplate="item">
										<span style="font-size: 14px; margin-top: 4px;position: relative; height: 18px;">{{item.label}}</span>
									</ng-template>
								</p-dropdown>
							</div>
							<div *ngIf="rowData.get('service').value.prices.length > 1" class="ui-fluid">
								<p-dropdown [options]="getPrices(rowIndex)" placeholder="Selecione" [autoWidth]="false"  formControlName="price">
									<ng-template let-item	pTemplate="selectedItem">
										<span>{{item.value.value | currency:'BRL'}}</span>
									</ng-template>
									<ng-template let-item pTemplate="item">
										<span style="font-size: 14px; margin-top: 4px;position: relative; height: 18px;">{{item.label}}</span>
									</ng-template>
								</p-dropdown>
	  						</div>
						</div>
					</td>
				</tr>
				</ng-template> </p-table>
			</div>
			<div class="col-md-12">
				<button pButton type="button" class="icon-button icon-plus" (click)="addServiceItem()" icon="fa-plus" pTooltip="Adicionar Serviço"
					tooltipPosition="bottom" showDelay="1000"></button>
				<button pButton *ngIf="cadastreForm.get( 'services' )[ 'controls' ].length > 1" type="button" class="icon-button icon-minus"
					(click)="removeServiceItem()" icon="fa-minus" pTooltip="Remover Serviço" tooltipPosition="bottom" showDelay="1000"></button>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-6">
				<label for="timeTotalPrediction" class="col-form-label"><strong>Subtotal:&nbsp;</strong></label> <span id="timeTotalPrediction"
					class="col-form-label" [innerHTML]="subtotalValue | currency:'BRL'"></span>
			</div>
			<div class="form-group col-md-6">
				<label for="timeTotalPrediction" class="col-form-label"><strong>Tempo Previsto:&nbsp;</strong></label> <span id="timeTotalPrediction"
					class="col-form-label" [innerHTML]="timeTotalPrevision | minuteToHour"></span>
			</div>
			<!-- 	  				<div class="form-group col-auto"> -->
			<!-- 						<dl-date-time-picker maxView="month" minuteStep="30" [selectFilter]="selectFilter" [(ngModel)]="selectedDate"  (change)="onChangeDate($event)"  [ngModelOptions]="{standalone: true}"></dl-date-time-picker> -->
			<!-- 	  				</div> -->
		</div>
	</form>
	<p-footer>
		<button pButton type="submit" icon="fa-check" class="col-md-3 mt-2 ui-button-success" [label]="!isEdit ? 'Cadastrar' : 'Atualizar'" [disabled]="!cadastreForm.valid" (click)="onSubmit(cadastreForm)" ></button>
    	<button *ngIf="isEdit" pButton type="button" icon="fa-dollar-sign" class="col-md-3 mt-2 ui-button-primary" label="Finalizar" (click)="displayPayment = true; display = false"></button>
    	<button *ngIf="isEdit" pButton type="button" icon="fa-ban" class="col-md-3 mt-2 ui-button-danger"  label="Cancelar"></button>
    </p-footer>
</p-dialog>

<app-payment *ngIf="displayPayment === true" [(displayOrder)]="display" [(displayPayment)]="displayPayment" [orderForm]="cadastreForm"></app-payment>
