/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";
@import '~open-iconic/font/css/open-iconic-bootstrap.css';

@import "./sass/spinner";
@import "./sass/utils";
@import "./sass/responsive";
@import "./sass/variables";
@import "./sass/mixins";

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #292B2C;
	-webkit-font-smoothing: antialiased;
	padding: 0;
	margin: 0;
	min-height: 100%;
	height: 100%;
	background-color: #EEF2F6;
	a {
		text-decoration: none;
	}
	.layout-mask {
	    display: none;
	}
	.layout-mask {
	    position: fixed;
	    width: 100%;
	    height: 100%;
	    background-color: #424242;
	    opacity: 0.7;
	    top: 0;
	    left: 0;
	    z-index: 1;
	}
	&.sidebar-inactive .layout-mask {
	    display: block;
	}
}

@media screen and (min-width: 992px) {
	body {
		.layout-mask {
	    	display: none;
		}
		&.sidebar-inactive .layout-mask {
		    display: none;
		}
	}
}


@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
}
 
.loading {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #333;
  -webkit-animation: rotation 1s infinite linear;
}


.ui-inputtext.ng-dirty.ng-invalid, p-dropdown.ng-dirty.ng-invalid > .ui-dropdown, p-autocomplete.ng-dirty.ng-invalid > .ui-autocomplete > .ui-inputtext, p-calendar.ng-dirty.ng-invalid > .ui-inputtext, p-chips.ng-dirty.ng-invalid > .ui-inputtext, p-inputmask.ng-dirty.ng-invalid > .ui-inputtext, p-checkbox.ng-dirty.ng-invalid .ui-chkbox-box, p-radiobutton.ng-dirty.ng-invalid .ui-radiobutton-box, p-inputswitch.ng-dirty.ng-invalid .ui-inputswitch, p-listbox.ng-dirty.ng-invalid .ui-inputtext, p-multiselect.ng-dirty.ng-invalid > .ui-multiselect, p-spinner.ng-dirty.ng-invalid > .ui-inputtext, p-selectbutton.ng-dirty.ng-invalid .ui-button, p-togglebutton.ng-dirty.ng-invalid .ui-button{
	border-color: #e13131;
}

.form-row > .col, .form-row > [class*="col-"] {
	padding-left: 10px !important;
	padding-right: 10px !important;
}

.form-group {
	margin-bottom: 5px !important;
}

.form-control:focus {
	-webkit-box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.25);
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.25);
}

.form-container {
	@extend .card;
	@extend .p-4;
	margin-top: 10px;
	padding-bottom: 40px !important;
	border: 0;
	border-radius: 0;
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,.08);
}

.ui-inputgroup .ui-inputgroup-addon {
	padding: 0 0.75em !important;
	padding-top: 0.35em !important;
}

.ui-autocomplete-dropdown {
	&.ui-button {
		height: 32.5px !important;	
	}
}

.col-form-label.required:after { 
  color: #d00;
  content: "*";
  margin-left: 5px;
  top:7px;
}

.icon-button {
	padding: 0 !important;
    appearance: none !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    outline: none !important;
    border: 0 !important;
    background: transparent !important;
    color: #222222 !important;
    &.icon-plus {
    		color: #51A351 !important;
    }
    &.icon-minus {
    		color: #ed1100 !important;
    }
}

.icon-button:hover {
	background: $stateHoverBgColor !important;
}

.ui-tabview-selected {
	background-color: $topnav-background-color !important;
	border-color: $topnav-background-color !important;
}

/* WIDGET */
// @charset "UTF-8";
.ui-widget {
	font-family: "Roboto", "Trebuchet MS", Arial, Helvetica, sans-serif !important;
/* 	font-size: 14px !important; */
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
	font-family: "Roboto", "Trebuchet MS", Arial, Helvetica, sans-serif !important;
/* 	font-size: 14px !important; */
}

.ui-widget :active {
	outline: none !important;
}
.ui-widget:disabled{
/* 	opacity: .95 !important; */
}


/* FIELDSET */
legend {
/* 	font-size: 14px !important; */
	width: auto !important;
}

.ui-fieldset, 
.ui-fieldset .ui-fieldset-legend {
    padding: 0.5em 1em !important;
    background: #ffffff !important;
	color: #555555 !important;
}

.ui-fieldset-toggleable .ui-fieldset-legend {
    padding: 0 !important;
}

.ui-fieldset-toggleable .ui-fieldset-legend a {
    padding: 0.5em 1em !important;
    cursor:pointer !important;
    white-space: nowrap !important;
    display: block !important;
}

.ui-fieldset .ui-fieldset-toggler {
    margin-right: .1em !important;
    display: inline-block !important;
    vertical-align: middle !important;
}

.ui-fieldset .ui-fieldset-legend-text {
    vertical-align: middle !important;
}

.ui-fieldset .ui-fieldset-content-wrapper-overflown {
    overflow: hidden !important;
} 

/* TurboTable */
.ui-table {
    .ui-table-thead > tr > th,
    .ui-table-tfoot > tr > td {
        background: $headerBgColor;
        border: 1px solid $headerBorderColor;
        color: $headerTextColor;
        padding: .65em .5em !important;
    }

    .ui-table-tbody > tr {
        background: $contentBgColor;
        color: $contentTextColor;

        > td {
            border: 1px solid $contentBorderColor;
            background: inherit;
        }

        &.ui-state-highlight {
            background-color: $stateHighlightBgColor;
            color: $stateHighlightTextColor;
        }

        &.ui-contextmenu-selected {
            background-color: lighten($stateHighlightBgColor, 20%);
            color: $stateHighlightTextColor;
        }
    }

    .ui-sortable-column {
        &.ui-state-highlight {
            background-color: $stateHighlightBgColor;
            color: $stateHighlightTextColor;
        }

        &:not(.ui-state-highlight):hover {
            background: $stateHoverBgColor;
            color: $stateHoverTextColor;
        }
    }

    &.ui-table-hoverable-rows {
        .ui-table-tbody > tr:not(.ui-state-highlight):hover {
            cursor: pointer;
            background: $stateHoverBgColor;
            color: $stateHoverTextColor;
        }
    }
}

@media ( max-width: 35em ) {
    .ui-table-responsive .ui-table-tbody > tr {
        border-top: 1px solid $contentBorderColor;
        border-bottom: 1px solid $contentBorderColor;
    }
    
    p-dialog .ui-dialog {
    		width: 100% !important;
	}
}

/* Responsive */
.ui-table-responsive .ui-table-tbody > tr > td .ui-column-title {
    display: none;
}

@media screen and (max-width: 40em) {
    .ui-table-responsive .ui-table-thead > tr > th,
    .ui-table-responsive .ui-table-tfoot > tr > td {
        display: none !important;
    }

    .ui-table-responsive .ui-table-tbody > tr > td {
        text-align: left;
        display: block;
        border: 0 none;
        width: 100% !important;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		float: left;
		clear: left;
    }

    .ui-table-responsive .ui-table-tbody > tr > td .ui-column-title {
        padding: .4em;
        min-width: 30%;
        display: inline-block;
        margin: -.4em 1em -.4em -.4em;
        font-weight: bold;
    }
}

/* Tabview */
.ui-tabview {
    &.ui-widget-content {
        border: 0 none !important;
    }
    
    .ui-tabview-nav {
        background: transparent !important;
        
        > li {
                        
            &:not(.ui-state-active):not(.ui-state-disabled):hover {
                background: #ededf0 !important;
            }
         }
    }
}

/* TurboTable */
.ui-paginator .ui-paginator-current, .ui-paginator .ui-paginator-first, .ui-paginator .ui-paginator-last, .ui-paginator .ui-paginator-next, .ui-paginator .ui-paginator-page, .ui-paginator .ui-paginator-pages, .ui-paginator .ui-paginator-prev{
/* 	display: inline-block !important; */
/*     padding: .125em .375em !important; */
/*     zoom: 1 !important; */
    margin-left: .073em !important;
    margin-right: .073em !important;
/*     text-decoration: none !important; */
/*     vertical-align: middle !important; */
}

.ui-paginator .ui-corner-all {
	-moz-border-radius: 3px !important;
	-webkit-border-radius: 3px !important;
	border-radius: 3px !important;
}

.ui-paginator a:not(.ui-state-disabled):not(.ui-state-active):hover {
    @include hover-element();
}

.ui-paginator a {
    color: $stateDefaultTextColor;
}
.ui-paginator .ui-paginator-page.ui-state-active {
	background: $topnav-background-color;
	color: #ffffff;
	border-color: #156090;
}

.ui-table {
    .ui-table-thead > tr > th,
    .ui-table-tfoot > tr > td {
        background: #ebedf0;
        border-color: #d9d9d9;
    }

    .ui-sortable-column:not(.ui-state-highlight):hover {
        background: #d3d5d8;
        border-color: #d9d9d9;
    }

    .ui-table-tbody > tr:nth-child(even) {
        background-color: #fafafb;

        &.ui-state-highlight {
            background-color: $stateHighlightBgColor;
            color: $stateHighlightTextColor;
        }

        &.ui-contextmenu-selected {
            background-color: lighten($stateHighlightBgColor, 20%);
            color: $stateHighlightTextColor;
        }
    }
}

.ui-table-caption {
    border-bottom: 0 none !important;
    border: none !important;
    background-color: transparent !important;
}

.ui-table-summary {
    border: none !important;
    background-color: transparent !important;
}

.ui-paginator {
    background-color: transparent !important;
}

.ui-paginator > .ui-paginator-prev {
  display: none !important;
}

.ui-paginator > .ui-paginator-next {
  display: none !important;
}

.ui-table .ui-paginator-bottom {
	border: none !important;
	margin-top: 0.5em !important;
	float:right !important;
}

.ui-table-loading {
	height: calc(100% + 1.5rem) !important;
}

.ui-tabview-nav {
	border-radius: 0.25rem 0.25rem 0 0 !important;
	background: #ffffff !important;
}

.ui-inputswitch {
	margin-top: 6px;
}

.ui-unselectable-text {
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -o-user-select: none !important;
    user-select: none !important;
}

.ui-picklist .ui-picklist-filter-container {
	margin-bottom: 0 !important;	
}

.ui-picklist .ui-picklist-list .ui-picklist-item {
	border-bottom: 0 !important;
}

.fc-today {
/*     background: #fff !important; */
    border: none !important;
    border-top: 1px solid #ddd !important;
    color: #292B2C !important;
    font-weight: bold;
} 

.fc-head > tr > td > div > table > thead > tr > th{
	background: $headerBgColor !important;
    border: 1px solid $headerBorderColor !important;
    color: $headerTextColor !important;
    padding-top: .65em !important;
    padding-bottom: .65em !important;
}
    
p-dialog .ui-dialog{
	z-index: 1100 !important;
/* 	max-height: 600px !important; */
}

.ios.modal-open {
    width: 100%;
	-webkit-overflow-scrolling: touch;
}

.ui-overflow-hidden {
	width: 100%;
}

.ios.ui-overflow-hidden {
    position: fixed; 
    width: 100%;
	-webkit-overflow-scrolling: touch;
}

.ui-dialog-footer {
	border-width: 1px 0 0 !important;
}

.ui-multiselect .ui-multiselect-header {
	margin-bottom: 0 !important;	
}

.ui-multiselect .ui-multiselect-label {
	padding: 0 !important;
	margin-bottom: 0 !important;
}

.ui-multiselect-panel .ui-multiselect-item label {
	margin-bottom: 0 !important;
}

.display-none {
	display: none !important;
}

.ui-dropdown.ui-state-focus, .ui-multiselect.ui-state-focus {
    -moz-box-shadow: 0px 0px 5px #1f89ce;
    -webkit-box-shadow: 0px 0px 5px #1f89ce;
    box-shadow: 0px 0px 5px #1f89ce;
}

.ui-dropdown:not(.ui-state-disabled):hover {
  border-color: #c0c0c0 !important;
  background: #eeeeee !important;
  color: #212121 !important;
}

.ui-dropdown:not(.ui-state-disabled):hover a {
    color: #212121 !important;
}
.ui-dropdown-panel .ui-dropdown-item:not(.ui-state-highlight):hover {
  border-color: #c0c0c0 !important;
  background: #eeeeee !important;
  color: #212121 !important;
}
  
.ui-dropdown-panel .ui-dropdown-item:not(.ui-state-highlight):hover a {
    color: #212121 !important;
}

.ui-dropdown:not(.ui-state-disabled):hover .ui-dropdown-label {
	background-color: #ffffff !important;
}

.ui-dropdown.ui-state-focus .ui-dropdown-label {
	background-color: #ffffff !important;
}

.ui-dropdown-panel .ui-dropdown-list {
    padding: 0.4em !important;
    border: 0 none !important;
}

.ui-dropdown-panel .ui-dropdown-filter-container {
    position: relative !important;
    margin: 0 !important;
    padding: 0.4em !important;
    display: inline-block !important;
    width: 100% !important;
}

.ui-dropdown-panel .ui-dropdown-filter-container .ui-dropdown-filter-icon {
/*     position: absolute !important; */
    right: 0.7em !important;
}

.ui-dropdown-panel .ui-dropdown-filter-container .ui-dropdown-filter {
	padding: 0.25em !important;
}

/* DatePicker */
.ui-datepicker.ui-widget {
    padding: 0;
    
    .ui-datepicker-header {
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
        border-top: 0 none;
        border-left: 0 none;
        border-right: 0 none;
        
        a {            
            &:hover {
            	text-decoration: none;
                border-width: 1px;
            }
        }
    }
    
    .ui-datepicker-calendar {
        margin: 0;
        
        thead th {
            background-color: #f6f8fa;
            padding: 8px;
        }
        
        td {
            border-bottom: 1px solid rgba(213, 213, 213, 0.5);
            padding: 0;
            
            a {
                border: 0 none;
                text-align: center;
                padding: 8px;
                
                &.ui-state-highlight {
                    background-color: #d6d6d6;
                    color: #212121;
                }
                
                &.ui-state-active {
                    background-color: #186ba0;
                    color: #ffffff;
                }
            }
        }
        
        tr:last-child td {
            border-bottom: 0 none;
        }
    }
    
    .ui-timepicker {
        border-bottom: 0 none;
        border-left: 0 none;
        border-right: 0 none;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
    }
    
    &.ui-datepicker-timeonly {
        .ui-timepicker {
            border-top: 0 none;
        }
    }
}

/* Datepicker */
.ui-datepicker .ui-datepicker-header a {
	color: #1b1d1f !important;
}

.ui-datepicker .ui-datepicker-header a:hover {
	border-color: #c0c0c0 !important;
	background: #eeeeee !important;
	color: #212121 !important;
}

.ui-datepicker .ui-datepicker-header a:hover a {
	color: #212121 !important;
}

.ui-datepicker .ui-datepicker-calendar td:not(.ui-state-disabled ) a:hover	{
	border-color: #c0c0c0 !important;
	background: #eeeeee !important;
	color: #212121 !important;
}

.ui-datepicker .ui-datepicker-calendar td:not(.ui-state-disabled ) a:hover a	{
	color: #212121 !important;
}

/* Checkbox and Radio */
.ui-chkbox{
/* 	margin: 10px 0 0 0; */
}

.ui-chkbox-label {
	margin-bottom: 0;
}


.ui-chkbox-box.ui-state-active,
.ui-radiobutton-box.ui-state-active {
    border: 1px solid #156090 !important; 
    background: #186ba0 !important; 
    color: #FFFFFF !important;
}

.ui-chkbox-box.ui-state-focus,
.ui-radiobutton-box.ui-state-focus  {
    -moz-box-shadow: 0px 0px 5px #1f89ce !important;
	-webkit-box-shadow: 0px 0px 5px #1f89ce !important;
	box-shadow: 0px 0px 5px #1f89ce !important;
}

.ui-chkbox-box.ui-state-focus.ui-state-active {
    background: #186ba0 !important; 
}

/* Accordion */
.ui-accordion {
    .ui-accordion-header {
        background: $headerBgColor !important;
    	border-top: 1px solid $headerBorderColor !important;
        
        a {
        	font-weight: bold;
            color: $headerTextColor !important;
            text-decoration: none !important;
        }
        
        &:not(.ui-state-active):not(.ui-state-disabled):hover {
            background: #ededf0 !important;
        }
        
        &.ui-state-active {
            background: #ffffff !important;
            border-left-color: transparent !important;
            border-right-color: transparent !important;
            border-bottom-color: transparent !important;
            -webkit-border-radius: 0 !important;
            -moz-border-radius: 0 !important;
            border-radius: 0 !important;
        }
    }
    
     .ui-accordion-content {
         border: 0 none !important;
     }
}

.ui-accordion .ui-accordion-header {
  background: #f6f7f9 !important;
  border-top: 1px solid #d9d9d9 !important; }
  .ui-accordion .ui-accordion-header a {
    color: #1b1d1f !important;
    padding: .5em !important;
  }
  .ui-accordion .ui-accordion-header:not(.ui-state-active):not(.ui-state-disabled):hover {
    background: #ededf0 !important; }
  .ui-accordion .ui-accordion-header.ui-state-active {
    background: #ffffff !important;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-bottom-color: transparent !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important; }
.ui-accordion .ui-accordion-content {
  border: 0 none !important; }
  
  .ui-accordion .ui-accordion-header:not(.ui-state-active):not(.ui-state-disabled):hover {
  border-color: #c0c0c0 !important;
  background: #eeeeee !important;
  color: #212121 !important; }
  .ui-accordion .ui-accordion-header:not(.ui-state-active):not(.ui-state-disabled):hover a {
    color: #212121 !important; }
    
/* Listbox */
.ui-listbox {
    padding: .25em !important;
    width: 13em !important;
}

.ui-listbox .ui-listbox-list-wrapper {
    overflow:auto !important;
}

.ui-listbox .ui-listbox-list {
    list-style-type: none !important; 
    margin: 0 !important;
    padding: 0 !important;
}

.ui-listbox .ui-listbox-item {
    padding: .25em !important;
    border: 0 none !important;
    cursor: pointer !important;
    font-weight: normal !important;
    margin-bottom: 1px;
}

.ui-listbox .ui-listbox-item > span {
    vertical-align: middle !important;
}

.ui-listbox .ui-listbox-item:last-child {
    margin-bottom: 0 !important;
}

.ui-listbox.ui-state-disabled .ui-listbox-item {
    cursor: default !important;
}

.ui-listbox-header {
    margin-bottom: 0.3em !important;
    padding: .125em .2em !important;
    position: relative;
}

.ui-listbox-header .ui-chkbox {
    display: inline-block !important;
    vertical-align: middle !important;
    cursor: pointer !important;
}

.ui-listbox-header .ui-listbox-filter-container {
    display: inline-block !important;
    vertical-align: middle !important;
    position: relative !important;
    width: 100% !important;
}

.ui-listbox-header.ui-listbox-header-w-checkbox .ui-listbox-filter-container {
    width: calc(100% - 2em) !important;
}

.ui-listbox-header .ui-listbox-filter-container .fa {
    position: absolute !important;
    top: .25em !important;
    left: .25em !important;
}

.ui-listbox-header .ui-inputtext {
    padding: .125em .125em .125em 1.25em !important;
    width: 100% !important;
}

.ui-listbox-footer {
    padding: .125em .2em !important;
}

.form-row > .col, .form-row > [class*="col-"] > .nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.hour-segment-height {
	height: 30px;
}

.schedule-profissional-header {
	text-align: center;
	box-sizing: border-box;
	border: solid 1px #e1e1e1;
	background: #ebedf0;
	border-color: #d9d9d9;
	padding: .65em .5em;
	font-weight: bold;
}

/* SCHEDULE EVENTS*/
#header-schedule-professionals{
	display: table;
    border: 1px solid #dee2e6;
    width: 100%;
    padding: 0 !important;
    vertical-align: middle !important;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    background: #f6f7f9 !important;
    font-weight: bold;
/*     font-size: 14px; */
    text-align: center;
}

#slideRight{
	float:right;
	width: 10%;
}

#slideLeft{
	float:left;
	width: 10%;
}

.ui-tooltip {
	z-index: 2000 !important;
}

.alert-info {
	background-color: transparent !important;
}

.fc .fc-slats td {
	background-color: transparent !important;
	cursor: pointer;
}

.table-bordered th, .table-bordered td {
	border: 1px solid #dee2e6 !important;
}

.fc .fc-event {
	cursor: pointer !important;
}

.fc-ltr .fc-axis {
	cursor: default !important;
}

.fc-ltr .fc-time-grid .fc-event-container{
	margin: 0 10% 0 4px !important;
}

input:disabled {
   opacity: .75 !important;
}

.btn-primary:focus, .btn-primary.focus {
    box-shadow: none !important;
}

.btn:focus, .btn.focus {
    box-shadow: none !important;
}

.ui-dropdown .ui-dropdown-trigger {
	width: 1.5em !important;
}

.ui-dialog-mask {
	z-index: 1090 !important;
}
.ui-confirmdialog {
	z-index: 1100 !important;
}

.fc-time-grid .fc-highlight-container {
	position: relative;
	z-index: 1;
} 
 
.fc-title-unavailable {
 	font-size: .95em;
    line-height: 1.3;
	margin: auto;
  	position: relative;
  	text-align: center;
  	top: 45%;
  	pointer-events:none
}

.fc-time-grid .fc-bgevent{
	cursor: pointer;
}

.fc-nonbusiness {
	cursor: default !important;
}

.fc-bgevent {
	opacity: .5;
}
