<app-msgs></app-msgs>
<div [@routerTransition]>
	<p-confirmDialog style="z-index: 1060" acceptButtonStyleClass="ui-button-success" rejectButtonStyleClass="ui-button-danger" acceptLabel="Sim" rejectLabel="Não"></p-confirmDialog>
	<p-blockUI [target]="cld" [blocked]="blockedPanel">
	    <i class="loading" style="position:absolute;top:25%;left:50%"></i>
	</p-blockUI>
    <div #form class="form-container">
    	<div id="focusDateSearch" tabindex="0"></div>
		<h5 class="font-strong mb-3">AGENDAMENTO</h5>
		<div class="form-row">
			<div class="col-md-3 ui-fluid mb-3">
		        <p-calendar [showIcon]="true" [locale]="ptBR" [(ngModel)]="dateSearch" dateFormat="dd/mm/yy"  [disabledDays]="[0]" [readonlyInput]="true" [touchUI]="true" (onFocus)="onFocusDateSearch($event)" (onSelect)="dateSearchFilter($event)"></p-calendar>
		    </div>	
		    <div class="col-md-9 text-right">
				<button pButton type="button" class="col-md-4 mb-3 mr-3"  icon="fa fa-plus" label="Novo Agendamento" [disabled]="isDisabledDay" (click)="addNewSchedule()"></button>
				<button pButton type="button"  class="col-md-4 mb-3" icon="fa fa-close" label="Bloquear Horário" (click)=addNewUnavailableDate()></button>	    			
			</div>
		</div>
		<app-blockable-div #cld>
			<div id="calendar"></div>
		</app-blockable-div>
		
		<ng-template #dialogContent let-c="close" let-d="dismiss">
			<div class="modal-header">
				<h4 class="modal-title">{{dialogTitle}}</h4>
				<button type="button" class="close" aria-label="Close"
					(click)="d('Cross click')">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form [formGroup]="cadastreForm" novalidate>
					<div class="form-row border rounded p-2 ml-1 mr-1" *ngIf="isEdit">
						<div class="col-12 text-center">
		    				<button  pButton type="button" icon="fa fa-dollar-sign" class="align-self-end ui-button-success" label="Abrir Comanda" (click)="cancelScheduling()"></button>
			        	</div>
					</div>				
					<div class="form-row">
		  				<div class="form-group col-md-12">
		  					<label for="client" class="col-form-label required"><strong>Cliente</strong></label>
							<div class="ui-fluid">
								<p-autoComplete id="client" [ngClass]="validateFormService.displayFieldCss('client')" formControlName="client" [suggestions]="filteredClients" [delay]="400" (onClear)="clearAutoCompleteClient($event)" (completeMethod)="filterClients($event)" [size]="30"
								    [minLength]="1" placeholder="Buscar ..." field="name"  [forceSelection]="true">
								</p-autoComplete>
							</div>
		  				</div>
		  			</div>
					<div class="form-row">
		  				<div class="form-group col-md-4 ui-fluid">
		  					<label for="dateScheduled" class="col-form-label"><strong>Data</strong></label>
		  			        <p-calendar id="dateScheduled" [ngClass]="validateFormService.displayFieldCss('dateScheduled')" [showIcon]="true" [locale]="ptBR" [minDate]="minScheduleDate" [touchUI]="true" formControlName="dateScheduled"  dateFormat="dd/mm/yy" [readonlyInput]="true" [disabledDays]="[0]" (onFocus)="onFocusDateSearch($event)" (onSelect)="onScheduleDateSelected($event)"></p-calendar>
		  				</div>
<!-- 		  				<div class="form-group col-md-2 ui-fluid"> -->
<!-- 		  					<label for="hourScheduled" class="col-form-label required"><strong>Horário</strong></label> -->
<!-- 							<p-dropdown id="hourScheduled" [ngClass]="validateFormService.displayFieldCss('hourScheduled')" [options]="hoursDisponible" [autoDisplayFirst]="false" [autoWidth]="false" formControlName="hourScheduled" (onChange)="onHourChange($event)"></p-dropdown> -->
<!-- 		  				</div> -->
		  				<div *ngIf="!isEdit" class="form-group col-md-6">
		  					<label for="frequency" class="col-form-label"><strong>Frequência</strong></label>
		  					<div class="ui-fluid">
			  					<p-dropdown id="frequency" [ngClass]="validateFormService.displayFieldCss('frequency')" [options]="frequencies" [autoWidth]="false" formControlName="frequency" (onChange)="onFrequencyChange($event)"></p-dropdown>
		  					</div>
		  				</div>
					</div>
					<div class="form-row mt-2">
		  				<div class="form-group col-md-12">
<!-- 		  					<label for="services" class="col-form-label required"><strong>Serviços</strong></label> -->
			    			<p-table [columns]="colsServices" [autoLayout]="false" [responsive]="true" [value]="cadastreForm.get( 'scheduledServices' )[ 'controls' ]" formArrayName="scheduledServices">
						    	<ng-template pTemplate="header"  let-columns>
							        <tr>
							            <th *ngFor="let col of colsServices" class="col-form-label">
							            	{{col.header}}
							            </th>
		            					<th style="width: 100px">Início</th>
							        </tr>
							    </ng-template>
							    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
							        <tr [formGroupName]="rowIndex">
										<td>
											<div class="form-row form-group">
												<div class="col-12 ui-fluid">
<!-- 												<p-autoComplete formControlName="service" [suggestions]="filteredServices" (completeMethod)="filterServices($event)" [size]="30" -->
<!-- 												    [minLength]="1" placeholder="Buscar serviço ..." field="description"  [forceSelection]="true" [dropdown]="false"> -->
<!-- 												</p-autoComplete> -->
													<p-dropdown [options]="servicesCadastre[rowIndex]"  placeholder="Selecione" [autoWidth]="false" [group]="true" [filter]="true" formControlName="service" 
														emptyFilterMessage="Não encontrado"  [resetFilterOnHide]="true" (onChange)="onServiceChange($event, rowIndex)">
													    <ng-template let-service pTemplate="group">
													        <span style="vertical-align:middle">{{service.label}}</span>
													    </ng-template>
													</p-dropdown>
												</div>
												<div id="focus" tabindex="0"></div>
											</div>
										</td>
										<td>
<!-- 											<div formArrayName="professionals" *ngFor="let professional of rowData.get('professionals')['controls']; let i = index;"> -->
<!-- 												<div class="form-row form-group" [formGroupName]="i"> -->
												<div class="form-row form-group">
													<div class="col-12 ui-fluid">
														<p-dropdown id="professional"  [options]="professionalsCadastre[rowIndex]" optionLabel="nickname" [autoWidth]="false" placeholder="Selecione" formControlName="professional" (onChange)="onProfessionalChange($event, rowIndex)"></p-dropdown>
													</div>
<!-- 													<button *ngIf="i === 0" pButton type="button" icon="fa fa-plus" class="col-2 icon-button" pTooltip="Adicionar Assistente" tooltipPosition="bottom" showDelay="1000" (click)="addProfessionalItem(rowIndex)"></button> -->
<!-- 													<button *ngIf="i > 0" pButton type="button" icon="fa fa-minus" class="col-2 icon-button" pTooltip="Remover Assistente" tooltipPosition="bottom" showDelay="1000" (click)="removeProfessionalItem(rowIndex, i)"></button> -->
												</div>
<!--  											</div> -->
										</td>
										<td>
											<div class="form-row form-group">
												<div class="col-12 ui-fluid">
													<p-dropdown id="startTime" [options]="hoursDisponible" [autoDisplayFirst]="false" [autoWidth]="false" formControlName="startTime"></p-dropdown>
												</div>
											</div>
										</td>						
							        </tr>
							    </ng-template>
							</p-table>
		  				</div>
		  				<div class="col-md-12">
							<button pButton *ngIf="cadastreForm.get( 'scheduledServices' )[ 'controls' ][ 0 ][ 'controls' ].service.value && 
									cadastreForm.get( 'scheduledServices' )[ 'controls' ][ 0 ][ 'controls' ].startTime.value"
								 type="button" class="icon-button icon-plus" (click)="addServiceItem()" icon="fa fa-plus" pTooltip="Adicionar Serviço" tooltipPosition="bottom" showDelay="1000"></button>	    			
				    		<button pButton *ngIf="cadastreForm.get( 'scheduledServices' )[ 'controls' ].length > 1"
				    			 type="button" class="icon-button icon-minus" (click)="removeServiceItem()" icon="fa fa-minus" pTooltip="Remover Serviço" tooltipPosition="bottom" showDelay="1000"></button>	    			
						</div>
					</div>
				</form>
			</div>
			
			<div class="modal-footer">
    			<button pButton type="submit" icon="fa fa-check" class="ui-button-success" label="Salvar" [disabled]="!cadastreForm.valid" (click)="onSubmit(cadastreForm)" ></button>
    			<button *ngIf="isEdit" pButton type="button" icon="fa fa-ban" class="ui-button-danger"  label="Cancelar" (click)="cancelScheduling()"></button>
			</div>
		</ng-template>
	</div>
	<p-dialog header="Filtrar Profissionais"  [(visible)]="displayProfissionalDialog" [modal]="true" [contentStyle]="{'max-height':'500px' }"  width="550" baseZIndex="0" [responsive]="true" [blockScroll]="true" [closable]="true" [resizable]="true" [draggable]="false">
		<div  *ngFor="let professional of professionals" class="col-md-12 mb-1">
	    	<app-checkbox [value]="professional" [label]="professional.nickname" [(ngModel)]="professionalsFilter"></app-checkbox>
	    </div>
	    <p-footer>
	  			<button pButton type="button" icon="fa fa-check" class="ui-button-success"  label="Filtrar" [disabled]="professionalsFilter && professionalsFilter.length === 0" (click)="filterProfessionalsSchedule()" ></button>
	    </p-footer>
	</p-dialog>
	<ng-template #dialogUnavailable let-c="close" let-d="dismiss">
		<div class="modal-header">
			<h4 class="modal-title">Bloquear Horário</h4>
			<button type="button" class="close" aria-label="Close"
				(click)="d('Cross click')">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			<form [formGroup]="cadastreUnavailableForm" novalidate>
		    	<div id="focusDateUnavailable" tabindex="0"></div>
				<div class="form-row">
	  				<div class="form-group col-md-12">
	  					<label for="professionalUnavailable" class="col-form-label required"><strong>Profissional</strong></label>
						<div class="ui-fluid">
							<p-dropdown id="professionalUnavailable" [ngClass]="validateFormService.displayFieldCss('professional')" [options]="professionals" optionLabel="nickname" [autoWidth]="false" placeholder="Selecione" formControlName="professional"></p-dropdown>
						</div>
	  				</div>
	  			</div>
	  			<div class="form-row">
	  				<div class="form-group col-md-4 ui-fluid">
	  					<label for="dateUnavailable" class="col-form-label"><strong>Data</strong></label>
	  			        <p-calendar id="dateUnavailable" [showIcon]="true" [locale]="ptBR" [minDate]="minScheduleDate" [touchUI]="true" formControlName="dateUnavailable"  dateFormat="dd/mm/yy" [readonlyInput]="true" [disabledDays]="[0]" (onFocus)="onFocusUnavailableDateSearch($event)"></p-calendar>
	  				</div>
	  				<div class="form-group col-md-8">
	  					<label for="period" class="col-form-label"><strong>Período</strong></label>
	  					<div class="ui-fluid">
		  					<p-dropdown id="period" [options]="periods" [autoWidth]="false" formControlName="period"></p-dropdown>
	  					</div>
	  				</div>
  				</div>
	  			<div class="form-row">
  					<div class="form-group col-6 ui-fluid">
	  					<label for="startUnavailable" class="col-form-label required"><strong>Início</strong></label>
						<p-dropdown id="startUnavailable" [ngClass]="validateFormService.displayFieldCss('startTimeUnavailable')" [options]="hoursUnavailable" [autoDisplayFirst]="false" [autoWidth]="false" formControlName="startTimeUnavailable"></p-dropdown>
					</div>
					<div class="form-group col-6 ui-fluid">
	  					<label for="endUnavailable" class="col-form-label required"><strong>Fim</strong></label>
						<p-dropdown id="endUnavailable" [ngClass]="validateFormService.displayFieldCss('endTimeUnavailable')" [options]="hoursUnavailable" [autoDisplayFirst]="false" [autoWidth]="false" formControlName="endTimeUnavailable"></p-dropdown>
					</div>
				</div>
					<div class="form-row">
  					<div class="form-group col-md-12">
			   			<label for="nickname" class="col-form-label"><strong>Motivo</strong></label>
						<input id="nickname" pInputText type="text" class="form-control" formControlName="reasonUnavailable">
					</div>
  				</div>
  			</form>
		</div>
		<div class="modal-footer">
			<button pButton type="button" label="Success" class="ui-button-success"></button>
			<button pButton type="submit" icon="fa fa-check" class="ui-button-success" [disabled]="!cadastreUnavailableForm.valid" label="Salvar" (click)="onSubmitUnavailable(cadastreUnavailableForm)" ></button>
			<button *ngIf="isEdit" pButton type="button" icon="fa fa-close" class="ui-button-danger"  label="Deletar" (click)="deleteUnavailable(cadastreUnavailableForm)"></button>
		</div>
	</ng-template>
</div>